<div>
    <h4>Pokemon details</h4>
</div>

<div class="card">
    <div class="card-item text-center">
        <h1 *ngIf="pokemonInfo">{{ name }}</h1>
        <img
        *ngIf="pokemonInfo"
        src="{{ pokemonInfo.sprites.front_default }}"
        />
    </div>

    

    <button *ngIf="!alreadyOwned"
      [disabled]="alreadyOwned"
      class="btn btn-primary text-center"
      (click)="catch()"
      type="button"
    >
      Catch
    </button>
    <h5 *ngIf="alreadyOwned">You already own this pokemon</h5>
    <div class="title" *ngIf="pokemonInfo">
        <h1>Base stats</h1>
        <div *ngFor="let stat of pokemonInfo.stats">
            <h5>Stat: {{ stat.stat.name }} : {{ stat.base_stat }}</h5>
        </div>

        <div *ngFor="let type of pokemonInfo.types">
          <h5>Type: {{ type.type.name }}</h5>
        </div>
  
        <div class="title">
            <h1>Profile</h1>
        </div>
  
        <h5> Base experience: {{ pokemonInfo.base_experience }} </h5>
        <h5>Height: {{ pokemonInfo.height }}</h5>
        <h5>Weight: {{ pokemonInfo.weight }}</h5>
  
        <div *ngFor="let ability of pokemonInfo.abilities">
            <h5>Ability: {{ ability.ability.name }}</h5>
        </div>
  
        <div class="title">
            <h1>Moves</h1>
        </div>
  
        <div *ngFor="let move of pokemonInfo.moves">
            <h5>Move: {{ move.move.name }}</h5>
        </div>

    </div>
</div>
 