

<div class="container">
    <h1>Angular Pokemon App</h1>

<form [formGroup]="loginForm">
    <div class="form-group">
        <label for="username">Trainer name</label>
        <br>
        <input class="form-control" type="text" id="username" placeholder="Enter your trainer name..." formControlName="username">
    </div>
    <div *ngIf="username.invalid && (username.dirty || username.touched)">
        <div *ngIf="username.errors.required">
            Trainer name is required.
        </div>

        <div *ngIf="username.errors.minlength">
            Username must be at least 2 characters long.
        </div>
    </div>

    <br>
    <button class="btn btn-primary" (click)="onNameCreate()" type="button">Submit</button>
</form>
</div>

