
<div class="container">
    <h1>Pokemon trainer</h1>
    <h4>Welcome {{ username }}</h4>
    
    <a href="/catalogue">All pokemon</a>
    
</div>

<div *ngIf="ownedPokemons.length > 0">
    <div>
        <h2>Pokemons you own</h2>
    </div>
    <div class="card" >
        <div class="card-body">
          <div class="list-wrapper">
            <div class="pokemon">
              <app-pokemon
                *ngFor="let pokemon of ownedPokemons"
                [pokemon]="pokemon"
                (click)="onPokemonClicked(pokemon)"
              ></app-pokemon>
            </div>
          </div>
        </div>
      </div>
</div>
