
<div>
  <h4>Pokemon Catalogue</h4>
</div>

<div class="card" >
  <div class="card-body">
    <div class="list-wrapper">
      <div class="pokemon">
        <app-pokemon
          *ngFor="let pokemon of pokemons"
          [pokemon]="pokemon"
          (click)="onPokemonClicked(pokemon)"
        ></app-pokemon>
      </div>
    </div>
  </div>
</div>

<div class="loadMore text-center">
  <button
    class="btn btn-primary"
    type="button"
    (click)="loadMore()"
    [disabled]="next === null"
  >
    Load More
  </button>
</div>



